.checkout-container {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
}

.checkout-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.checkout-form {
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section {
  margin-bottom: 25px;
}

.section h3 {
  margin-bottom: 10px;
  color: #333;
}

.checkout-form input,
.checkout-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.row {
  display: flex;
  gap: 10px;
}

.row input {
  width: 100%;
}

.section label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}

.summary p {
  display: flex;
  justify-content: space-between;
}

.place-order-btn {
  width: 100%;
  padding: 12px;
  background: #ff6b6b;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.place-order-btn:hover {
  background: #ff5252;
}
.payment-option {
  display: flex;
  align-items: left;
  gap: 10px;
  margin-bottom: 10px;
  font-size: 15px;
}

.payment-option input[type="radio"] {
  margin: 0;
}

.payment-failed {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff3f3;
}

.failed-card {
  background: white;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.failed-card h1 {
  color: red;
  margin-bottom: 10px;
}

.btn-group {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.retry {
  background: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.home {
  background: #6c757d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.retry:hover {
  background: #c82333;
}

.home:hover {
  background: #5a6268;
}

.payment-success {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f6f8;
}

.success-card {
  background: white;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.success-card h1 {
  color: green;
  margin-bottom: 10px;
}

.success-card button {
  margin-top: 20px;
  padding: 10px 25px;
  border: none;
  background: #28a745;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.success-card button:hover {
  background: #218838;
}