
.auth-container {
  min-height: 100vh;
  /* background: linear-gradient(135deg, #ece8ec, #e9e2e9); */
  background-image: "../src/assets/login.png";
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-card {
  background: #fff;
  padding: 30px;
  width: 100%;
  max-width: 380px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.auth-card h2 {
  text-align: center;
  margin-bottom: 5px;
}

.auth-subtitle {
  text-align: center;
  color: #777;
  margin-bottom: 25px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-size: 14px;
  display: block;
  margin-bottom: 6px;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.form-group input:focus {
  outline: none;
  border-color: #5cacd7;
}

.form-extra {
  text-align: right;
  margin-bottom: 15px;
}

.forgot {
  font-size: 13px;
  color: #ff7a18;
  cursor: pointer;
}

.btn-primary {
  width: 100%;
  padding: 10px;
  border: none;
  background: #49082e;
  color: white;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-primary:hover {
  background: #eeb2d6;
  color: #000;
}

.auth-footer {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.auth-footer span {
  color: #ff7a18;
  cursor: pointer;
  font-weight: 500;
}

.reset-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f7f7;
}

.reset-box {
  background: white;
  padding: 30px;
  width: 100%;
  max-width: 380px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  text-align: center;
}

.reset-box h2 {
  margin-bottom: 8px;
  color: #6b2e1f;
}

.reset-box p {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

.reset-box input {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 14px;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}

.reset-box input:focus {
  border-color: #f97316;
}

.reset-box button {
  width: 100%;
  padding: 10px;
  background: #f97316;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.reset-box button:hover {
  background: #ea580c;
}

.error {
  background: #fee2e2;
  color: #b91c1c;
  padding: 8px;
  border-radius: 6px;
  margin-bottom: 12px;
  font-size: 13px;
}

.success {
  background: #dcfce7;
  color: #166534;
  padding: 8px;
  border-radius: 6px;
  margin-bottom: 12px;
  font-size: 13px;
}

.otp-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f7f7;
}

.otp-box {
  background: white;
  padding: 30px;
  width: 100%;
  max-width: 360px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  text-align: center;
}

.otp-box h2 {
  color: #6b2e1f;
  margin-bottom: 8px;
}

.otp-box p {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

.otp-box input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  text-align: center;
  letter-spacing: 6px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 16px;
  outline: none;
}

.otp-box input:focus {
  border-color: #f97316;
}

.otp-box button {
  width: 100%;
  padding: 10px;
  background: #f97316;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.otp-box button:hover {
  background: #ea580c;
}

.resend {
  margin-top: 15px;
  font-size: 13px;
  color: #555;
}

.resend span {
  color: #f97316;
  cursor: pointer;
  font-weight: 600;
}
.error-text {
  color: #dc2626;
  background: #fee2e2;
  padding: 8px 10px;
  border-radius: 6px;
  margin-bottom: 10px;
  font-size: 14px;
}
.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper input {
  width: 100%;
  padding-right: 45px; 
  box-sizing: border-box;
}

.eye-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #555;
  user-select: none;
}

.eye-icon:hover {
  color: #000;
}
