.my-orders-page {
  padding: 50px 5%;
  min-height: 100vh;
  background: #f9fafb;
}

.my-orders-page h1 {
  margin-bottom: 30px;
}

.orders-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.order-card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.order-right {
  text-align: right;
}

.order-right h3 {
  margin-bottom: 10px;
}

.order-right button {
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  background: #f97316;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.status.delivered {
  color: green;
  font-weight: bold;
}

.status.confirmed {
  color: #2563eb;
  font-weight: bold;
}

.status.cancelled {
  color: red;
  font-weight: bold;
}

.order-details-page {
  min-height: 100vh;
  background: #f9fafb;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
}

.order-card {
  background: white;
  width: 100%;
  max-width: 800px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.order-card h1 {
  margin-bottom: 20px;
}

.order-info p {
  margin: 6px 0;
}

.status.confirmed {
  color: green;
  font-weight: bold;
}

.paid {
  color: #16a34a;
  font-weight: bold;
}

.order-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.order-table th,
.order-table td {
  border-bottom: 1px solid #e5e7eb;
  padding: 10px;
  text-align: left;
}

.order-summary {
  margin-top: 20px;
}

.order-actions {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}

.order-actions button {
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.order-actions button:first-child {
  background: #f97316;
  color: white;
}

.order-actions .track {
  background: #1f2937;
  color: white;
}