.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 15px;
  height: 70px;
  color: white;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-link {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.profile-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: white;
  padding: 2px;
}

.logout{
  text-decoration: none;
  border: 2px solid black;
  height: 36px;
  width: 80px;
  border-radius: 20%;
  padding: 7px;
}

.logout-btn:hover {
  background-color: #e9f5db;
}