/* ===== SIDEBAR CONTAINER ===== */
.admin-sidebar {
  width: 260px;
  min-height: 100vh;          
  background: #0f0d2d;
  color: #fff;
  position: sticky;           
  top: 0;
  left: 0;
  overflow-y: auto;           
}

/* ===== SIDEBAR TITLE ===== */
.sidebar-title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
  color:#fefdfc;
}

/* ===== MENU ===== */
.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ===== LINKS ===== */
.sidebar-link {
  display: flex;
  align-items: center;
  padding: 12px 22px;
  color: #cbd5e1;
  text-decoration: none;
  font-size: 14px;
  transition: 0.25s;
}

.sidebar-link:hover {
  background: #374151;
  color: #fff;
}

/* ===== ACTIVE LINK ===== */
.sidebar-link.active {
  background: linear-gradient(90deg, #edc5a8, #eecaad);
  color: #fff;
  font-weight: 600;
}

/* ===== DROPDOWN ===== */
.dropdown-trigger {
  cursor: pointer;
}

/* ===== SUB MENU ===== */
.subcategory-menu {
  margin-top: 5px;
}

.sub-link {
  font-size: 13px;
  padding-left: 40px;
  color: #9ca3af;
}

.sub-link:hover {
  background: #374151;
  color: #fff;
}

/* ===== SCROLLBAR ===== */
.admin-sidebar::-webkit-scrollbar {
  width: 6px;
}

.admin-sidebar::-webkit-scrollbar-thumb {
  background: #f7c7a4;
  border-radius: 10px;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 1024px) {
  .admin-sidebar {
    width: 220px;
  }
}

@media (max-width: 768px) {
  .admin-sidebar {
    position: fixed;
    z-index: 1000;
    height: 100vh;
    left: -260px;
    transition: 0.3s;
  }

  .admin-sidebar.open {
    left: 0;
  }
}
