.auth-container {
  min-height: 100vh;
  /* background: #fbe3c3; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.auth-container::before{
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../src/assets/login.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter:blur(6px);
  transform: scale(1.05);
  opacity: 0.7;
  z-index: 0;
}

.auth-card {
  background: #f6f4f4;
  position: relative;
  padding: 30px;
  width: 100%;
  max-width: 380px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.auth-card h2 {
  text-align: center;
  margin-bottom: 5px;
}

.auth-subtitle {
  text-align: center;
  color: #777;
  margin-bottom: 25px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-size: 14px;
  display: block;
  margin-bottom: 6px;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.form-group input:focus {
  outline: none;
  border-color: #5cacd7;
}

.form-extra {
  text-align: right;
  margin-bottom: 15px;
}

.forgot {
  font-size: 13px;
  color: #ff7a18;
  cursor: pointer;
}

.btn-primary {
  width: 100%;
  padding: 10px;
  border: none;
  background: #49082e;
  color: white;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-primary:hover {
  background: #8a3a2a;
  color: #efecec;
}

.auth-footer {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.auth-footer span {
  color: #ff7a18;
  cursor: pointer;
  font-weight: 500;
}