.admin-footer {
  background: #1f2937;
  color: #fff;
  padding: 20px 40px;
  margin-top: auto;
  width: 100%;
  height: 11%;
}

.admin-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 220px;
}

.footer-section h3 {
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 600;
}

.footer-section p {
  margin: 2px 0;
  font-size: 13px;
  color: #ccc;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.sub-text {
  font-size: 12px;
  color: #aaa;
}

.version {
  font-size: 12px;
  color: #4cafef;
  font-weight: 500;
}