.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f7f6;
}

.login-card {
  width: 320px;
  padding: 30px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-card h2 {
  margin-bottom: 20px;
  color: #0b6e4f;
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.login-card button {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: #0b6e4f;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.login-card button:hover {
  background-color: #095c42;
}
