.product-card {
  border: 1px solid #ddd;
  padding: 12px;
  width: 100%;
  max-width: 280px;
  max-height: 350px;
  margin: auto;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  background: white;
  margin: 10px;
}

.product-card:hover {
  transform: translateY(-4px);
}

.product-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.price {
  color: #ff7a00;
  font-weight: bold;
}
