.add-product-container {
  max-width: 500px;
}

.add-product-form input,
.add-product-form select,
.add-product-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
}

.add-product-form button {
  background: #16a34a;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.add-icon-btn {
  background: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
