body {
    margin: 0px;
    padding: 0px;
    background-color: #f7f8fa;
    /* Soft light grey */
    color: #333;
    /* Default text color */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    caret-color: transparent;
}

input,
textarea {
    caret-color: auto;
}

.hero-section h1,
.hero-section p {
    user-select: none;
    cursor: default;
}